{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="container">

    <h1 class="text-center display-4" style="margin-top: 40px">Login</h1>

    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}

    <form action="" method="post" class="box" style="width: 400px; padding: 40px; margin-top: 10px; position: absolute; margin-left: 400px; background: rgb(87, 241, 234)">

        {% csrf_token %}


        <div class="mb-3">
            <div class="form-label">{{form.username.label}}</div>
            {{form.username}}
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <div class="form-label">{{form.password.label}}</div>
            {{form.password}}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
{% endblock content %}