{% extends 'base.html' %}
{% load static %}

{% block title %}Quiz{% endblock title %}

{% block css %}

<style>
  @media(max-width:998px){
        html {
            font-size: 75%;
        }
        div.container {
          max-width: 700px;
        }
    }
  @media(max-width:768px){
        html {
            font-size: 65%;
        }
        div.container {
          max-width: 550px;
        }
    }
    @media(max-width:566px){
        html {
            font-size: 55%;
        }
        div.container {
          max-width: 400px;
        }
    }
    @media(max-width:397px){
        html {
            font-size: 50%;
        }
        img {
          max-width: 200px;
          max-height: 200px;
        }
        div.container {
          max-width: 300px;
        }
    }
</style>

{% endblock css %}

{% block content %}

<h1 class="text-center" style="margin-top: 100px">Quiz</h1>

<div class="d-flex justify-content-center">
{% if request.user.is_superuser %}
<a type="button" id="qA" class="btn btn-secondary" href="{% url 'assignments:question-add' pk%}" 
    style="margin-bottom: 20px;">Add questions</a>

<a class="btn btn-danger"  data-bs-toggle="modal"
    href="#quiz_delete_confirmation" style="margin-bottom: 20px; margin-left: 20px;">Delete this quiz</a>

{% endif %}
</div>

  <div class="modal" tabindex="-1" id="quiz_delete_confirmation">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this quiz ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <form action="{% url 'assignments:delete-quiz' course_id%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="quiz_id" value="{{pk}}">
            <button type="submit" class="btn btn-primary">Yes</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% for msg in messages %}
  <p class="text-center" style="color: red">{{msg}}</p>
  {% endfor %}

<div>
  <p class="text-center" id="result" style="color: red"></p>
</div>
<br>

<div class="container" style="border: 1px solid black; width: 800px; margin-bottom: 20px;">

  <form action="" method="post" id="postData" style="margin-left: 30px; margin-top: 10px;">

  {% csrf_token %}

  {% for question in questions %}
  <p>Q{{forloop.counter}}.{{question.question_id.question_description}}</p>

  {% if question.question_id.question_image_address %}
  <div>
    <img src="{{question.question_id.question_image_address.url}}" style="height: 300px; width:300px" alt="Image">
  </div>
  {% endif %}
  <input type="radio" id="choice_{{question.question_id.question_id}}_1" name="{{question.question_id.question_id}}"
    value="1">
  <label for="choice_{{question.question_id.question_id}}_1">{{question.question_id.choice_1}}</label><br>
  <input type="radio" id="choice_{{question.question_id.question_id}}_2" name="{{question.question_id.question_id}}"
    value="2">
  <label for="choice_{{question.question_id.question_id}}_2">{{question.question_id.choice_2}}</label><br>
  <input type="radio" id="choice_{{question.question_id.question_id}}_3" name="{{question.question_id.question_id}}"
    value="3">
  <label for="choice_{{question.question_id.question_id}}_3">{{question.question_id.choice_3}}</label><br>
  <input type="radio" id="choice_{{question.question_id.question_id}}_4" name="{{question.question_id.question_id}}"
    value="4">
  <label for="choice_{{question.question_id.question_id}}_4">{{question.question_id.choice_4}}</label><br>

  <br>

  {% if request.user.is_superuser %}
  <div class="d-flex justify-content-end">
    <a href="{% url 'assignments:question-update' course_id pk  question.question_id.pk %}" class="btn btn-success">Update</a>
  </div>
  {% endif %}
  <span hidden id={{question.question_id.question_id}}></span>

  <br><br>

  {% empty %}
  <p>
    Looks like there are no questions at the movement...
  </p>
  {% endfor %}

  {% if questions %}
  <div class="d-flex justify-content-center">
  <button type="submit" class="btn btn-primary" id="submit" style="margin: 20px;">Submit</button>
  </div>
  {% endif %}


</form>
</div>

<script src="{% static 'js/attempt_quiz.min.js' %}"></script>

{% endblock content %}