{% extends 'base.html' %}

{% block title %}Course{% endblock title %}

{% block content %}

<div class="container" style="margin-top: 100px">
  <h1 class="text-center">{{course_name}}</h1>
    
  <h2 style="margin: 20px">Quizzes</h2>

{% if request.user.is_superuser %}

<a type="button" class="btn btn-secondary" href="{% url 'assignments:create-quiz' course_id %}" style="margin: 20px">Create new quiz </a>

{% endif %}

{% for msg in messages %}
<p class="text-center" style="color: red">{{msg}}</p>

{% endfor %}

{% for quiz in quizzes %}

<div style="display: flex; flex-direction: row; flex-wrap: wrap">

<div class="card border-secondary" style="width: 12rem; height: 8rem; margin: 15px">
  <div class="card-body">
    <h5 class="card-title text-center">{{quiz}}</h5>
      <a href="{% url 'assignments:attempt-quiz' course_id  quiz.pk %}" class="card-link" style="margin-left: 25px;">Attempt-quiz</a>
  </div>
</div>

{% empty %}
<p>
  Looks like there are no quizzes at the movement...
</p>
{% endfor %}

</div>

</div>

{% endblock content %}