{% extends 'base.html' %}
{% load static %}

{% block title %}Question Update{% endblock title %}

{% block css %}

<style>
  @media(max-width:998px){
        html {
            font-size: 75%;
        }
        div.container {
          max-width: 700px;
        }
    }
  @media(max-width:768px){
        html {
            font-size: 65%;
        }
        div.container {
          max-width: 550px;
        }
    }
    @media(max-width:566px){
        html {
            font-size: 55%;
        }
        div.container {
          max-width: 400px;
        }
    }
    @media(max-width:397px){
        html {
            font-size: 50%;
        }
        img {
          max-width: 200px;
          max-height: 200px;
        }
        div.container {
          max-width: 300px;
        }
    }
</style>

{% endblock css %}

{% block content %}


<h1 class="text-center" style="margin-top: 100px">Question Update</h1>

<div class="container" style="border: 1px solid black; width: 800px; margin-top: 30px; margin-bottom: 20px;">
<form action="" method="post" enctype="multipart/form-data" style="margin: 20px">

    {% csrf_token %}
        <strong>
        {{form.question_description.label}}
        {{form.question_description}}</strong>
        <br><br>
        {{form.choice_1.label}}
        {{form.choice_1}}
        <br><br>
        {{form.choice_2.label}}
        {{form.choice_2}}
        <br><br>
        {{form.choice_3.label}}
        {{form.choice_3}}
        <br><br>
        {{form.choice_4.label}}
        {{form.choice_4}}
        <br><br>
        {{form.correct_choice.label}}
        {{form.correct_choice}}
        <br><br>
        <strong>
        <p>Question Image</p></strong>
        {{form.question_image_address}}

        <br><br>

    <button type="submit" class="btn btn-success">Submit</button>

    {% if request.user.is_superuser %}
    <a href="{% url 'assignments:question-delete' course_id quiz_id question.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}

</form>
</div>
{% endblock content %}