{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'js/player.js' %}">


{% load crispy_forms_tags %}
{% block css %}

<style>

@media(max-width:1128px){
  video{
    width: 850px;
    height: 500px;

  }
}
@media(max-width:998px){
  video{
    width: 750px;
    height: 400px;

  }
}
@media(max-width:768px){
  video{
    width: 600px;
    height: 350px;

  }
}
@media(max-width:646px){
  video{
    width: 500px;
    height: 300px;

  }
}
@media(max-width:540px){
  video{
    width: 400px;
    height: 250px;

  }
}
@media(max-width:420px){
  video{
    width: 350px;
    height: 180px;

  }
}

</style>

<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/video.css' %}"> -->

{% endblock css %}

{% block title %} {{lessons.name}} {% endblock %}

{% block image_block %}
<header class="info-header">
  <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-10 text-white">
        <!-- heading -->
        <h2 class="display-4 font-weight-bold  p-5 " style="color:#ff5722;">Chapter-{{lessons.position}}:
          {{lessons.name}}</h2>
        <div class="row d-flex justify-content-center text-center">
          <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'curriculum:branch_list' %}">Curriculum</a></li>
            <li><a href="{% url 'curriculum:subject_list' slug=lessons.Branch.slug %}">{{lessons.Branch.name}}</a></li>
            <li><a
                href="{% url 'curriculum:lesson_list' Branch=lessons.Branch.slug slug=lessons.subject.slug %}">{{lessons.subject.name}}</a>
            </li>
            <li class="disabled-text">{{lessons.name}}</li>
          </ul>
        </div>

        <!-- divider -->
        <hr style="color:#ff5722;">

        <!-- description -->
        <!-- <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti
                  consequuntur.</h4> -->
      </div>
</header>
{% endblock %}

{% block content %}

<section class="text-center" style="margin-top: 20px">
  <h2 class="mb-5 mt-5 font-weight-bold" style="color:#ff5722;">{{lessons.name}}</h2>

  <!-- video -->
  <div id="wrapper">
    <div class="row d-flex justify-content-center mb-3" id='player_wrapper'>
      <div id="player-overlay video_player">
        <video controls>
          <source src="{{lessons.video.url}}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>

<!-- download cards -->
<div class="row d-flex justify-content-center mb-3 mt-3">
  <!-- download presentations -->
  <div class="col-md-4 mb-4 mt-4">
    <div class="card box-shadow-hover">
      <div class="card-body">
        <h5 class="card-title">Download Presentations</h5>
        {% if lessons.ppt %}
        <p class="card-text">Download presentations from the lecture</p>
        <a href="{{lessons.ppt.url}}" download>
          <button type="button" class="btn get-started-btn"><span>Get Files</span></button>
        </a>
        {% else %}
        <p class="card-text"> No PPT available</p>
        {% endif %}

      </div>
    </div>
  </div>
  <!-- download notes -->
  <div class="col-md-4 mb-4 mt-4">
    <div class="card box-shadow-hover">
      <div class="card-body">
        <h5 class="card-title">Download Notes</h5>
        {% if lessons.Notes %}
        <p class="card-text">Download notes from the lecture</p>
        <a href="{{lessons.Notes.url}}" download>
          <button type="button" class="btn get-started-btn"><span>Get Files</span></button>
        </a>
        {% else %}
        <p class="card-text">Notes not available</p>
        {%endif%}

      </div>
    </div>
  </div>
  <!-- download video -->
  <div class="col-md-4 mb-4 mt-4">
    <div class="card box-shadow-hover">
      <div class="card-body">
        <h5 class="card-title">Download Video</h5>
        <p class="card-text">Download Video from the lecture</p>
        <a href="{{lessons.video.url}}" download>
          <button type="button" class="btn get-started-btn"><span>Get Files</span></button>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- update and delete button -->
<div class="row d-flex justify-content-center mb-3 mt-3">
  {% if user.is_staff or user.is_superuser %}
  <div class="col-md-6 mb-3 text-center">
      <a href="{% url 'curriculum:lesson_update' Branch=lessons.Branch.slug subject=lessons.subject.slug slug=lessons.slug %}" 
      class="btn btn-warning btn-lg mr-4 btn-block">Update Lesson</a>
  </div>
  <div class="col-md-6">
      <a href="{% url 'curriculum:lesson_delete' Branch=lessons.Branch.slug subject=lessons.subject.slug slug=lessons.slug %}" 
      class="btn btn-danger btn-lg mr-4 btn-block"> Delete Lesson </a>
  </div>
  {% endif %}
</div>
</section>



{%endblock%}